# DATA CLEANING

In [1]:
import pandas as pd

# Load the dataset
file_path = '/content/Mall_Customers.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data.head(10)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72

In [2]:
count=data.isnull().sum()
count

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [3]:
mean_age=data['Age'].mean()

In [5]:
data["Age"].fillna(mean_age,inplace=True)

In [10]:
# Renaming columns for better readability
data.columns = ["CustomerID", "Gender", "Age", "AnnualIncome", "SpendingScore"]

In [11]:
mode_gender=data['Gender'].mode()
type(mode_gender)
mode_gender

0    Female
Name: Gender, dtype: object

In [12]:
data["Gender"].fillna(mode_gender,inplace=True)

In [13]:
# Data transformation (e.g., encoding categorical variables)
data['Gender'] = data['Gender'].map({'Male': 0, 'Female': 1})

In [14]:
count=data.isnull().sum()
count

CustomerID       0
Gender           0
Age              0
AnnualIncome     0
SpendingScore    0
dtype: int64